@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = "Contact";
}
<p>@Model.Address</p>
<p>@Model.Phone</p>
<p>@Model.Email</p>
