@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PressRelease>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master.cshtml";
}

<ul>
    @foreach (var child in Model.Children())
    {
        <li>@child.Name
            @child.Value(("title"))
            @child.Value(("type"))
            <a href=@child.Value(("pressitemid"))>länk</a>
        </li>
    }
</ul>