@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeaserBlock)Model.Content;
}


<h1>Test</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@content.Value("Title")</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">@content.Value("preamable")</p>
        <p class="card-text">@content.Value("pic")</p>
    </div>
</div>